<h1>詳細画面</h1>
<table>
  <tr>
    <th>title</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>body</th>
    <td><%= @post.body %></td>
  </tr>
  <tr>
    <th>genre</th>
    <td><%= @post.genre.name %></td>
  </tr>
</table>